table {
    border-collapse: collapse;
}

body {
	font-family:Constantia;
}

table, th, td {
    border: 5px solid grey;
	padding: 10px;
}
 
th{
	font-size:1.5em;
}

td{
	font-size:1.1em;
}

button{
	background:none repeat scroll 0 0 #afdadf; color:#324130;
	font-family:"LubalGraphBdBTBold",Tahoma;
	font-size:1.1em;
	margin-right:-14px;
	margin-left:2px;
	padding:5px;
	cursor:pointer;
	border-radius: 9px; 
}
