body
{

background-image: url('abc.gif');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
background-size: cover;
}

p
{
font-family"Comic Sans MS", cursive, sans-serif;
color:#324130;
}

#color
{
color:#FFFFFF;
}

table
{
width:100%;
align:center;
position:relative;
top:0cm; 
 
}

#scroll
{
 height:300px; 
 overflow:auto;
}

.fnt2{
font-size:1.4em;
font-family:Constantia;
}

button{
	background:none repeat scroll 0 0 #FFFFFF; color:#324130;
	border:medium none;
	font-family:"LubalGraphBdBTBold",Tahoma;
	font-size:1.1em;
	margin-right:-14px;
	margin-left:2px;
	padding:7px;
	cursor:pointer;
	border-radius: 9px; 
}

#div1, #div2
{
float:left; 
width:200px; 
height:100px; 
margin:10px;
padding:1px;
border:5px solid #aaaaaa;
}

#head1{
	height:25px;
	text-align:left;
	margin-top:10px;
    position:relative;
	bottom:0px;  
	opacity:0.8;
	text-shadow: 3px 2px 3px #999;
	color:white;
	font-size:2.5em;
	margin-left:0.50em;
}

#head2{
	text-align:center;
	font-size:x-large;
}

#head3
{
	font-size:1em;
}

div
{
margin:0 auto;
width:1200px;
z-index:20;
}

.divsub{
height: 60px; 
background-color: #169B90;
width:100%;
}

.fnt
{
	font-family:"Comic Sans MS", cursive;
	color:#324130;
}

#hi
{
  color:#FDFBFF; 
}

p
{
font-family"Comic Sans MS", cursive, sans-serif;
color:#324130;
}

nav {
padding-top: 4px;
padding-bottom: 0px;
text-align:left;
font-family:Constantia;
font-size:1.29em;
}

.valigntop
{
vertical-align:top;
}
